.main,
.mainHeader,
.img,
.TextDiv {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  background-image: linear-gradient(rgb(42, 15, 87), rgba(91, 32, 185, 0)),
    url(../public/img/Waves.svg);
  background-color: rgba(91, 32, 185, 0.349);
}
.mainHeader {
  height: auto;
  font-size: 30px;
  padding: 50px 0;
  background-image: url(../public/img/Homepage_header-0321.jpg);
}
.leftSide,
.rightSide {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}
.leftSide {
  background-color: #2a0f57;
  padding-left: 10rem;
  padding-right: 5rem;
}
.rightSide {
  background-color: #eb5646;
  padding-right: 10rem;
  padding-left: 5rem;
}
.img {
  background-image: url(../public/img/homePage_peopleStrip-2.jpg);
}
.TextDiv {
  background-image: url(../public/img/Circle_deepViolet.svg);
  background-color: #5a20b9;
  margin-top: 5rem;
}
.div {
  width: 100%;
  height: 750px;
  padding: 5rem 0;
  background-image: url(../public/img/CustomerSuccess_SVG.svg);
  background-color: rgb(42, 15, 87);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  
}
